#acontainer{
display: grid;
width: fit-content;
margin:auto;
background-color: darkblue;
border-radius: 10px;
padding: 25px;
visibility: visible;
grid-gap: 3px;
grid-template-areas: 
'VCustomer VAuthor VBook VSupplier VOrder CCustomer'
 ' CAuthor CBook RCustomer RAuthor RBook RSupplier';


}
.abutton{
    background-color: rgb(116, 226, 230);
    height: 100px;
    width: 175px;
    font-size: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    
}

.VCustomer{
    grid-area:VCustomer;
}
.VAuthor{
    grid-area:VAuthor;
}
.VOrder{
    grid-area:VOrder;
}
.VBook{
    grid-area:VBook;
}
.VSupplier{
    grid-area:VSupplier;
}
.CCustomer{
    grid-area:CCustomer;
}
.CAuthor{
    grid-area:CAuthor;
}
.CBook{
    grid-area:CBook;
}
.RCustomer{
    grid-area:RCustomer;
}
.RAuthor{
    grid-area:RAuthor;
}
.RBook{
    grid-area:RBook;
}
.RSupplier{
    grid-area: RSupplier;
}



