/*
#container{
    display: grid;
    width: 800px;
    height: 450px;
    margin: auto;
    padding: 10px;
    grid-gap: 5px;
    text-align: center;
    grid-template-areas: 
        'title title title title title'
        'fname fname fname fname fname'
        'fnametext fnametext fnametext fnametext fnametext'
        'lname lname lname lname lname'
        'lnametext lnametext lnametext lnametext lnametext';
}
*/
.create{
    /*
    border-radius: 5px;
    height: 50px;
    */
    text-align: center;
    background-color: black;
    color: white;
    grid-area: title;
}

input{
    width: 100%;
}

