#ccontainer{
    display: grid;
    width: fit-content;
    margin: auto;
    padding: 10px;
    grid-gap: 5px;
    text-align: center;
    background-color: darkblue;
    grid-template-areas: 
        'Skeywords browse addbook'
        'change place view';
}

.cbutton{
    background-color: rgb(116, 226, 230);
    height: 200px;
    width: 175px;
    font-size: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    
}

.Skeywords
{
    grid-area: Skeywords;
}

.browse
{
    grid-area: browse;
}

.addbook
{
    grid-area: addbook;
}

.change
{
    grid-area: change;
}

.place
{
    grid-area: place;
}

.view
{
    grid-area: view;
}

/*Search bar*/
/* .searchcontainer
{
    width: 70%;
    height: 30%;
}
 */
.bar
{
    overflow: hidden;
    /*background-color: darkblue;*/
}

.bar input[type=text]
{
    float: right;
    font-size: 25px;
    width: 30%;
}


/*Table*/
#btable
{
    border-collapse: collapse;
    width: 100%;
}

#btable th
{
    font-size: 25px;
    padding: 12px;
    text-align: center;
    background-color: rgb(116, 226, 230);
    color: black;
}

#btable td, #btable th
{
    padding: 8px;
    border: 1px darkblue;
}

#btable tr:nth-child(even)
{
    background-color: #f2f2f2;
}

#btable tr:hover
{
    background-color: #ddd;
}

/*Browse bar*/
.bbar
{
    display: grid;
    overflow: hidden;
    background-color: darkblue;
    padding: 5px;
    gap: 5px;
    grid-template-areas: 
    'title publication category reviews';
}

.bbar a
{
    float: left;
    display: block;
    padding: 14px 16px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(116, 226, 230);
    color: black;
    border: darkblue;
}