/*Search bar*/

/* .searchcontainer
{
    width: 70%;
    height: 30%;
}
 */
.bar
{
    overflow: hidden;
    /*background-color: darkblue;*/
}

.bar input[type=text]
{
    float: right;
    font-size: 25px;
    width: 30%;
}

/*Browse bar*/
.bbar
{
    display: grid;
    overflow: hidden;
    background-color: darkblue;
    padding: 5px;
    gap: 2px;
    grid-template-areas: 
    'title publication category reviews';
}

.bbar a
{
    float: left;
    display: block;
    padding: 14px 16px;
    font-size: 15px;
    text-align: center;
    background-color: rgb(116, 226, 230);
    color: black;
    border: darkblue;
}


/*Popup form*/
.form-container
{
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center; */
}

.hideform
{
    display: none;
}