h1
{
    text-align: center;
}

/*Table*/
#btable
{
    border-collapse: collapse;
    width: 100%;
}

#btable th
{
    font-size: 25px;
    padding: 12px;
    text-align: center;
    background-color: rgb(116, 226, 230);
    color: black;
}

#btable td, #btable th
{
    padding: 8px;
    border: 1px darkblue;
}

#btable tr:nth-child(even)
{
    background-color: #f2f2f2;
}

#btable tr:hover
{
    background-color: #ddd;
}
