/*
Proposed Color Scheme
#f7f7f7
#3b0944
#5f1854
#1abb9c
*/

html {
    font-size: 10px;
    background-color: #F7F7F7;
    color: #3B0944;
}

#index-pg-hdr {
	font-size: 60px;
    font-family: 'Gentium Book Basic', serif;
	text-align: center;

	margin: 0;
	padding: 40px 0;
	/* text-shadow: 3px 3px 1px black; */
}

.link-no-display {
	color: inherit;
	text-decoration: inherit;
}

.link-no-change:visited {
	color: blue;
}